NODE_ENV=development
DAEMON_PORT=8081
DAEMON_HTTP_HOST=0.0.0.0
DAEMON_API_KEY=replace_with_a_secure_token
DAEMON_FQDN=https://your-daemon-fqdn.com
DAEMON_FILES_ROOT=/var/lib/ryzenpanel/servers
DOCKER_SOCKET_PATH=/var/run/docker.sock
DOCKER_HOST=unix:///var/run/docker.sock
PANEL_URL=https://your-panel-url.com
NODE_ID=your-node-uuid
NODE_TOKEN=your-node-secret
